/* Backgrounds and Bodys*/

/*If we were to use the tag "< "element", id name or class {
    background: <!-- This is the shorthand command that can deal with the basic styling -->

    SHORTHAND 
body { 
background: url('File path to selected image')  no-repeat center 100px;
}
#background-vid{
    position: fixed;
    z-index:-1;
    width:100px;
    height:100%;
}*/


body{
    background: url("/Images/black\ and\ white\ fruit.jpg"); background-size: cover;
}

#body{
    background-image: 
    linear-gradient(to top, #a4cdfc ) url(/Images/Strawberries.jpeg)
} 
/* colours range with hex numbers "#f7f7f7" or "rgba(138,221,96,0.796)" 
To make certain colours stronger then you can add a % after each colour.
For example   background-image:
    radial-gradient(rgba(138, 221, 96, 0.796) 30%, rgba(20, 209, 222, 0.93) 30%), */

.test{
    background: url(/Images/strawberry\ field.jpeg);
}

.shadow{
    background: black;
    color: white;
}

.d{
    color: #fa8787;
}

/* There are individual commands you can use such as background-color etc.*/

/* LONGHAND */



h1{
    background-color: forestgreen; 
     color: firebrick;
     font-style: oblique; 
        font-family: 'Times New Roman', Times, serif; font-size: 100px
}

    p{
border: 2px blueviolet groove;
display: block;
    } 


#bg-vid{
    border: none;
    position:fixed;
    right:0;
    bottom: 0;
    width:100%;
    height:100%;
}

#lists{
    background-color: aqua;
}

.checkbox {
    background-color: #fa8787; 
}

.picture{ 
    margin: 10% 10% 1% 20%;
    padding: 1px 10px 1px 20px;
}


#about h2 {
    display: inline-block;
}

#about h3 {
    display: block;
}

#about p {
    display: inline;
    margin: 20%;
}
    /*
    The coding industry general standard of "px sizes"
    P is usually about 16px
    H3 is usually 32px 
    H2 is usually 48px
    H1 is usually 64px
    */

