/* If you ar egoing to be using multiple similar ids / classes 
it might be useful to name them with the position on the page that they are located. */

body {
    background-color:burlywood;
    color:rgb(30, 135, 210);
}

header {
    background-color: rgb(4, 71, 30);
    position: absolute ;
    top: 0;
    right: 0;
    left: 0;
}

.header {
    display:inline;
}

.links {
    margin-right:0%;
}

#img-header {
    height: 100px;
}

h1{
    display: inline;
    margin-left: 38%;
    font-family: 'Alkatra', cursive; 
}

nav {
    display: inline;
    margin-left: 23%;
    font-family: 'Crimson Text', serif; 
}


a{
    color: chocolate;
    margin-left:1%;
    font-family: 'Crimson Text', serif; 
    text-decoration: none;
}

a:hover{
    color: aqua;
}



/* Floating menu */

#float-menu {
background-color: antiquewhite;
margin-top: 5px;
float: right;
}

#float-btn{
position: fixed; 
background-color:burlywood;
right: 5px;
top:30;
border-radius: 10%;
}

#float-btn a{
display:block;
}


/* Visibility  CSS day 4*/

#data1 {
    visibility: hidden; /* options are hidden, visible*/
}

p{
    visibility: visible;
    display: block; /* if set to "none", the space and text will be removed */
}


/*
Z-index CSS day 4 
/*





/* z-index:-1 is the tag to reduce the stacking order or increase.
For example if it was a low number "-1" it would show beneath everthything. This could be a background video/ image.
If it has a high number it would appear above everything.


*/